html {
  background-color: #F9F6EE;
  width: 100%;
  height: auto;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
  text-align: left;
  color: black;
}

h2 {
  color: #636363;
  margin: 0.5em;
  padding: 0.5em;
}

h4 {

  color: #BC7FCD;
  margin-right: 40%;
  margin-top: 1.7em;
  font-size: 1.4em;

}

p {
  font-size: 1.2em;

}


nav {
  padding: 1em;
  display: flex;
  flex-direction: row;
}


ul {
  display: inline;
  margin: 1em;
  padding: 1em;
  color: black;
  font-size: large;

}

a {
  color: black;
}

a:hover {
  color: #BC7FCD;
}


.logo {
  width: 6.5em;
  height: 6.5em;
  float: left;
  margin-right: 0.5em;
  border-radius: 25em;
  border: solid thin black;
}

span {
  color: #BC7FCD;
}

.info {
  text-align: center;
  color: #636363;
  font-size: 1.5em;
  line-height: 1.5em;
  margin: 2em;
  padding: 2em;
  font-style: italic;
}

.div {
  border: solid thin red;
  margin: 1em;
  padding: 1em;
}

.candle {
  width: 8em;
  height: 10em;
  border-radius: 1em;
  justify-content: left;
  transition: width 0.5s, height 0.5s;
}

.candle:hover {
  width: 10em;
  height: 12em;
}


.description {
  text-align: right;
  margin: 1em;
  padding: 1em;
  visibility: hidden;
  opacity: 0;
}

.description:hover {
  /* transition effect. not necessary */
  transition: opacity .2s, visibility .2s;

  visibility: visible;
  opacity: 1;
}


.flex-container {
  display: flex;
  flex-direction: row;
  background-color: #EEEDEB;
  border-radius: 1em;
  overflow: scroll;
}

.flex-container>div {
  background-color: #EEEDEB;
  width: 12em;
  height: 14em;
  margin: 10px;
  padding: 1.5em;
  font-size: 30px;
}


/* Responsive layout - makes a one column layout instead of a two-column layout */
@media (max-width: 950px) {
  .flex-container {
    flex-direction: column;
  }


}



/* On screens that are 600px wide or less, make the menu links stack on top of each other instead of next to each other */
@media screen and (max-width: 950px) {
  nav {
    flex-direction: column;
    float: none;
    width: 100%;

  }
}

/* Responsive layout - makes a one column layout instead of a two-column layout */
@media (max-width: 800px) {
  .flex-container {
    flex-direction: column;
  }

  h4 {
    margin-left: 30%;
    font-size: small;

  }

  nav {
    flex-direction: column;
    float: none;
    width: 100%;

  }

}



/* On screens that are 600px wide or less, make the menu links stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .flex-container {
    flex-direction: column;
  }

  .info {
    font-size: 1em;
  }

  h4 {
    margin: auto;
  }

  nav {
    flex-direction: column;
    display: inline;
    float: none;
    width: 100%
  }

  nav ul {
    font-size: 1em;
  }


}

@media (max-width: 700px) {
  .flex-container {
    flex-direction: column;
  }

  .info {
    font-size: 1em;
  }

  nav {
    flex-direction: column;
    display: inline;
    float: none;
    width: 100%
  }

  nav ul {
    font-size: 1em;
  }


}

/* Responsive layout - makes a one column layout instead of a two-column layout */
@media (max-width: 600px) {
  .flex-container {
    flex-direction: column;
  }

  .info {
    font-size: 1em;
  }

  nav {
    flex-direction: column;
    display: inline;
    float: none;
    width: 100%
  }

  nav ul {
    font-size: 1em;
  }
}