html {
  background-color: #F9F6EE;
  width: 100%;
  height: 100%;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
  text-align: left;
  color: black;
}

h2 {
  color: #636363;
  margin: 0.5em;
  padding: 0.5em;
}

h4 {

  color: #BC7FCD;
  margin-right: 40%;
  margin-top: 1.7em;
  font-size: 1.4em;

}

p {
  font-size: 1.2em;

}


nav {
  padding: 1em;
  display: flex;
  flex-direction: row;
}


li {
  display: inline;
  margin: 1em;
  padding: 1em;
  color: black;
  font-size: large;

}

a {
  color: black;
  text-decoration: none;

}

a:hover {
  color: #BC7FCD;
}


.logo {
  width: 6.5em;
  height: 6.5em;
  float: left;
  margin-right: 0.5em;
  border-radius: 25em;
  border: solid 2px #BC7FCD;
}

span {
  color: #BC7FCD;
}

.info {
  text-align: center;
  color: #636363;
  font-size: 1.5em;
  line-height: 1.5em;
  margin: 2em;
  padding: 2em;
  font-style: italic;
}


.candle {
  width: 8em;
  height: 8em;
  border-radius: 1em;
  justify-content: left;
}



.description {
  margin-left: auto;
  margin-right: auto;
  display: inline;
  font-size: 0.8em;
  color: #636363;
  transition: color 0.5s;
}

.description:hover {
  color: #BC7FCD;
  cursor: pointer;
}




.flex-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #EEEDEB;
  border-radius: 1em;
  overflow: visible;
  margin-left: 2em;
  margin-right: 2em;


}

.flex-container>div {
  background-color: #EEEDEB;
  width: 8em;
  height: 10em;
  font-size: 30px;
  margin: 0.5em;
}


@media only screen and (max-width: 800px) {
  .flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

  }

  .flex-container>div {
    width: 4em;
    height: 6em;
    font-size: 8px;
    margin: 1em;
    padding: 1em;
  }

  h4 {

    color: #BC7FCD;
    font-size: 0.8em;
    margin-left: 15em;
    margin-top: -5em;
  }

  nav {
    padding: 0.4em;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  li a {
    display: block;
    text-decoration: none;
  }

  li a.active {
    background-color: #04aa6d;
    color: white;
  }

  li a:hover:not(.active) {
    background-color: #555;
    color: white;
  }




}